#video-list {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.videos {
    padding-right: 50px;
}

ul {
    list-style-type: none;
}

h3 {
    font-size: small;
}

header {
    padding-bottom: 50px;
}